body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.case-columns {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-spacing:10px 0;
    display:table;
    list-style:none;
    margin:0;
    table-layout:fixed;
    width:100%;
    padding:0;
}

.case-column {
    background:#e9e9e9;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    display:table-cell;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    vertical-align:top;
}

.case-container {
    background:#ffffff;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #cccccc;
    border-top-width: 0;
    color:#333333;
    display:block;
    font-size:14px;
    height:85px;
    line-height:1.42857142857143;
    margin:0;
    padding-top:6px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:6px;
    position:relative;
}

.case-container:first-child {
    border-top-width:1px;
}

.case-container:hover {
    background:#e9e9e9;
}

.case-title {
    display:block;
    /*height:1.1em;*/
    margin-bottom:5px;
    text-overflow:ellipsis;
    vertical-align:middle;
    white-space:nowrap;
    overflow:hidden;
}

.case-description {
    display:block;
    height:3em;
    /*line-height:1.1;*/
    overflow:hidden;
}

.data-block {
    border-bottom:1px solid #ddd;padding:0.5em;
}

.data-block:hover {
    background-color:#f0f0f0;
}

.data-block.focused {
    background-color:#e0f0ff;
}

.data-block:after {
    content:".";display:block;height:0;clear:both;visibility:hidden;
}

.twixi-wrap {
    padding-left:24px;
    position:relative;
}

.action-details {
    line-height:2;
    text-align:left;
}

.action-body {
    overflow:auto;
    overflow-y:hidden;
}

.verbose .flooded {
    overflow:auto;
    overflow-y:hidden;
}

.action-container .action-links {
    visibility:hidden;
}

.in-place-modal {
    display:none;
}