@model uHome.Models.AddAccountViewModel
@{
    ViewBag.Title = Resources.AddStaff;
}

<h2>@ViewBag.Title</h2>

@{Html.RenderPartial("_AddAccountFormPartial");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
