@model uHome.Models.RegisterViewModel
@{
    ViewBag.Title = Resources.RegisterManager;
}

<h2>@ViewBag.Title</h2>

@{Html.RenderPartial("_RegisterFormPartial");}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
