@model uHome.Models.CommentViewModel

<div class="row data-block" id="comment_@Model.ID">
    <div class="twixi-wrap verbose action-container">
        <div class="action-links"></div>
        <div class="action-details">
            @Model.CreatedBy added a comment - @Model.CreatedAt
        </div>
        <div class="action-body flooded">
            @Model.Content
        </div>
    </div>
</div>
