@model uHome.Models.AttachmentViewModel

<div class="row" id="attachment_@Model.ID">
    <div class="col-md-8">@Html.ActionLink(Model.Name, "Download", "Attachments", new { id = Model.ID }, null)</div>
    <div class="col-md-4">
        @Ajax.RawActionLink(
            "<span class=\"glyphicon glyphicon-trash\"></span>",
            "Delete",
            "Attachments",
            new { id = Model.ID },
            new AjaxOptions
            {
                Confirm = string.Format("Are you sure you want to delete {0}?", Model.Name),
                OnBegin = "showSpinner",
                OnComplete = "hideSpinner",
                OnSuccess = "onAttachmentDeleteSuccess",
                HttpMethod = "DELETE"
            }, null) | @Model.UploadAt | @Model.Size
    </div>
</div>
