@model IEnumerable<uHome.Models.CaseGroupViewModel>

@{
    ViewBag.Title = "My Cases";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New Case", "Create", null, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_ListPartial", Model, ViewData)