@model IEnumerable<uHome.Models.CaseGroupViewModel>

@{
    ViewBag.Title = "My Cases";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.RawActionLink(
    "<span class=\"glyphicon glyphicon-plus\"></span> Add",
    "Create", null, null, new { @class = "btn btn-success" })
</p>

@Html.Partial("_ListPartial", Model)